
.navbar{
    background-color: #06283D;
}
.navv:hover{
    color: #000000 !important;
    background-color:#f8f9fc !important;
}
.borderstyle{
    border-radius: 20px;
    background-color: #06283D;
}